### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [117]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
district_summary_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
district_summary_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [118]:
# number of schools in District
number_of_schools = pd.value_counts(district_summary_df["school_name"]).count()
number_of_schools

15

In [119]:
# number of students in District
#number_of_students= pd.value_counts(data_file_df["student_name"]).count()
number_of_students= len(district_summary_df["Student ID"].unique())
number_of_students

39170

In [120]:
# Total budget for District
District_budget =district_summary_df["budget"].sum()
District_budget

82932329558

In [121]:
#Average reading Score for District
average_reading = round(district_summary_df["reading_score"].mean(),2)
average_reading

81.88

In [122]:
#Average math Score for District
average_math = round(district_summary_df["math_score"].mean(),2)
average_math

78.99

In [123]:
#Calculate the percentage of students with a passing math score (70 or greater)
percent_passing_math = (district_summary_df[district_summary_df['math_score'] >= 70]['math_score'].count()) / number_of_students*100
percent_passing_math

74.9808526933878

In [124]:
#Calculate the percentage of students with a passing reading with a score (70 or greater)
percent_passing_reading = round((district_summary_df[district_summary_df['reading_score'] >= 70]['reading_score'].count()) / number_of_students*100,2)
percent_passing_reading

85.81

In [125]:
#Calculate overall percentage
overall_percentage = round((percent_passing_math +percent_passing_reading)/2,2)
overall_percentage

80.4

In [126]:
District_df = pd.DataFrame({"Total Number of Schools":[number_of_schools],
                                 "Total Number of Students":[number_of_students],
                                 "Total District Budget":[District_budget],
                                 "Average Math Score":[average_math],
                                 "Average Reading Score":[average_reading],
                                 "% Passing Math":[percent_passing_math],
                                 "% Passing Reading":[percent_passing_reading],
                                 "% Overall Passing Rate":[overall_percentage]})

#print the data
District_df

,Total Number of Schools,Total Number of Students,Total District Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,82932329558,78.99,81.88,74.980853,85.81,80.4

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [127]:
#School Name
school_summary = district_summary_df.groupby(['school_name'])
school_names = district_summary_df.school_name.sort_values().unique()
school_names

array(['Bailey High School', 'Cabrera High School',
       'Figueroa High School', 'Ford High School', 'Griffin High School',
       'Hernandez High School', 'Holden High School', 'Huang High School',
       'Johnson High School', 'Pena High School', 'Rodriguez High School',
       'Shelton High School', 'Thomas High School', 'Wilson High School',
       'Wright High School'], dtype=object)

In [128]:
# School Type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [129]:
#total no. of students in each school
tota_student_per_school = district_summary_df.value_counts()

In [130]:
#Total number of students in each school
Total_Students = district_summary_df["school_name"].value_counts()
Total_Students

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [131]:
#total school budget
school_budget = district_summary_df.groupby(["school_name"]).mean()["budget"]

school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [132]:
#budget per student in each school
per_student_budget = school_budget/Total_Students
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [133]:
#Average Math Score
avg_math_score = round(district_summary_df.groupby(["school_name"]).mean()["math_score"],2)
avg_math_score

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [134]:
#Average Reading Score
avg_reading_score = round(district_summary_df.groupby(["school_name"]).mean()["reading_score"],2)
avg_reading_score

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [139]:
#% passing math
passing_math = district_summary_df[(district_summary_df['math_score'] >=60)]
passing_math_school = passing_math.groupby(["school_name"]).count()["student_name"]
precentage_passing_math = round((passing_math_school/Total_Students)*100,2)
precentage_passing_math

Bailey High School        89.53
Cabrera High School      100.00
Figueroa High School      88.44
Ford High School          89.30
Griffin High School      100.00
Hernandez High School     89.08
Holden High School       100.00
Huang High School         88.86
Johnson High School       89.18
Pena High School         100.00
Rodriguez High School     88.55
Shelton High School      100.00
Thomas High School       100.00
Wilson High School       100.00
Wright High School       100.00
dtype: float64

## Top Performing Schools (By % Overall Passing)

In [143]:
#% passing reading
passing_reading = district_summary_df[(district_summary_df['reading_score'] >=60)]
passing_reading_school = passing_reading.groupby(["school_name"]).count()["student_name"]
precentage_passing_reading = round((passing_reading_school/Total_Students)*100,2)
precentage_passing_reading

Bailey High School       100.0
Cabrera High School      100.0
Figueroa High School     100.0
Ford High School         100.0
Griffin High School      100.0
Hernandez High School    100.0
Holden High School       100.0
Huang High School        100.0
Johnson High School      100.0
Pena High School         100.0
Rodriguez High School    100.0
Shelton High School      100.0
Thomas High School       100.0
Wilson High School       100.0
Wright High School       100.0
dtype: float64

* Sort and display the top five performing schools by % overall passing.

In [150]:
#Overaall percentage
overall_passing_percentages = (precentage_passing_reading+precentage_passing_math)/2
overall_passing_percentages

Bailey High School        94.765
Cabrera High School      100.000
Figueroa High School      94.220
Ford High School          94.650
Griffin High School      100.000
Hernandez High School     94.540
Holden High School       100.000
Huang High School         94.430
Johnson High School       94.590
Pena High School         100.000
Rodriguez High School     94.275
Shelton High School      100.000
Thomas High School       100.000
Wilson High School       100.000
Wright High School       100.000
dtype: float64

In [152]:
#Create a dataframe to hold the above results
School_overview_df = pd.DataFrame({"School Name": school_names,
                                    "School Type": school_types,
                                    "Total Students/School": Total_Students,
                                    "Total Budget/School": school_budget,
                                    "Per Student Budget": per_student_budget,
                                    "Average Math Score": avg_math_score,
                                    "Average Reading Score": avg_reading_score,
                                    "Percentage Passing Math": precentage_passing_math,
                                    "Percentage Passing Reading": precentage_passing_reading,
                                    "Overall Percentage Passing": overall_passing_percentages})
School_overview_df

,School Name,School Type,Total Students/School,Total Budget/School,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Percentage Passing
Bailey High School,Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,89.53,100.0,94.765
Cabrera High School,Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,100.00,100.0,100.000
Figueroa High School,Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,88.44,100.0,94.220
Ford High School,Ford High School,District,2739,1763916.0,644.0,77.10,80.75,89.30,100.0,94.650
Griffin High School,Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,100.00,100.0,100.000
Hernandez High School,Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,89.08,100.0,94.540
Holden High School,Holden High School,Charter,427,248087.0,581.0,83.80,83.81,100.00,100.0,100.000
Huang High School,Huang High School,District,2917,1910635.0,655.0,76.63,81.18,88.86,100.0,94.430
Johnson High School,Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,89.18,100.0,94.590
Pena High School,Pena High School,Charter,962,585858.0,609.0,83.84,84.04,100.00,100.0,100.000
Rodriguez High School,Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,88.55,100.0,94.275
Shelton High School,Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,100.00,100.0,100.000
Thomas High School,Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,100.00,100.0,100.000
Wilson High School,Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,100.00,100.0,100.000
Wright High School,Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,100.00,100.0,100.000

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [158]:
worst_performing_schools =School_overview_df.sort_values(["Overall Percentage Passing"],ascending = False).tail(5)
worst_performing_schools

,School Name,School Type,Total Students/School,Total Budget/School,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Percentage Passing
Johnson High School,Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,89.18,100.0,94.590
Hernandez High School,Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,89.08,100.0,94.540
Huang High School,Huang High School,District,2917,1910635.0,655.0,76.63,81.18,88.86,100.0,94.430
Rodriguez High School,Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,88.55,100.0,94.275
Figueroa High School,Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,88.44,100.0,94.220

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [159]:
avg_math_scores_grade = round(district_summary_df.groupby(["grade"]).mean()["math_score"],2)
avg_math_scores_grade

grade
10th    78.94
11th    79.08
12th    78.99
9th     78.94
Name: math_score, dtype: float64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [160]:
avg_reading_scores_grade = round(district_summary_df.groupby(["grade"]).mean()["reading_score"],2)
avg_reading_scores_grade

grade
10th    81.87
11th    81.89
12th    81.82
9th     81.91
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [176]:
#create bins to categorise the schools based on size
bins = [0,585,615,645,675]
names = ["<$585", "$585-615", "$615-645", "$645-675"]

## Scores by School Size

In [201]:
#organize by spending
scores_by_spending = School_overview_df[["School Name",
                                         "School Type",
                                    "Average Math Score",
                                    "Average Reading Score",
                                    "Percentage Passing Math",
                                    "Percentage Passing Reading",
                                    "Overall Percentage Passing"]]
scores_by_spending["Spending Summary"] = pd.cut(School_overview_df["Per Student Budget"],bins, labels=names)
scores_by_spending = scores_by_spending.groupby(["Spending Summary"])
scores_by_spending.mean()

c:\users\ranab\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Percentage Passing
Spending Summary,,,,,
<$585,83.452500,83.935000,100.000000,100.0,100.000000
$585-615,83.600000,83.885000,100.000000,100.0,100.000000
$615-645,79.078333,81.891667,92.636667,100.0,96.318333
$645-675,76.996667,81.026667,89.040000,100.0,94.520000

* Perform the same operations as above, based on school size.

In [202]:
size_bins = [0, 400, 800, 1200, 1600, 2000, 3000, 4000, 5000]
group_names = ["Small (<500)", "Medium (800-2000)", "Large (2000-5000)"]

scores_by_school_size = School_overview_df[["School Name",
                                            "School Type",
                                    "Average Math Score",
                                    "Average Reading Score",
                                    "Percentage Passing Math",
                                    "Percentage Passing Reading",
                                    "Overall Percentage Passing"]]
scores_by_school_size["School Size Summary"] = pd.cut(School_overview_df["Total Students/School"], bins, labels=names)
scores_by_school_size = scores_by_school_size.groupby(["School Size Summary"])
scores_by_school_size.mean()

c:\users\ranab\appdata\local\programs\python\python39\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Percentage Passing
School Size Summary,,,,,
<$585,83.8,83.81,100.0,100.0,100.0
$585-615,NaN,NaN,NaN,NaN,NaN
$615-645,NaN,NaN,NaN,NaN,NaN
$645-675,NaN,NaN,NaN,NaN,NaN

## Scores by School Type

* Perform the same operations as above, based on school type

In [203]:
scores_by_type = School_overview_df[["School Name",
                                     "School Type",
                                    "Average Math Score",
                                    "Average Reading Score",
                                    "Percentage Passing Math",
                                    "Percentage Passing Reading",
                                    "Overall Percentage Passing"]]
scores_by_type = scores_by_type.groupby(["School Type"])
scores_by_type.mean()

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Percentage Passing
School Type,,,,,
Charter,83.472500,83.897500,100.000000,100.0,100.000000
District,76.955714,80.965714,88.991429,100.0,94.495714